/*                        Body                          */
body{
    display:flex;
    background-color: var(--main-bg-color);
}

/*                      Article                          */
article{
    padding: 100px;
    height:400px;
    width:400px;
    background-color: var(--conten-bg-color);
}

input{
    color:black;
    padding-left: 5px;
    width: 100%;
    margin:8px;
    height: 30px;
}

h2{
    margin-bottom:30px;
    border-color: white;
    border-bottom: 2px solid;
}

.boton{
    color:white;
    border-style: none;
    width: 100%;
}

.boton-principal{
    background-color:var(--buttons-log-green);
}
.boton-secundario{
    background-color: var(--buttons-log-red);
}